* {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  min-height: 100vh;
  max-width: 100vw;
}

body {
  background-color: #008b8b40;
  padding: 1rem;
}

table {
  height: fit-content;
  max-height: 90%;
  border-radius: 1rem;
  overflow: hidden;
  margin: auto;
}

td {
  width: fit-content;
  padding: 0.5rem;
  border: 1px solid rgb(212, 209, 209);
}

.acordar {
  background-color: rgb(236, 140, 105);
}

.exercicio {
  background-color:aquamarine;
}

.banho {
  background-color: rgb(197, 158, 106);
}

.arrumar {
  background-color: rgb(108, 173, 243);
}

.duolingo, .estudar, .faculdade {
  background-color: rgb(230, 195, 106);
}

.trabalhar {
  background-color: rgb(179, 219, 118);
}

.almoço {
  background-color: violet;
}

.ir-casa {
  background-color: rgb(175, 163, 186);
}


th {
  background-color: beige;
}

