* {
	margin: 0;
	font-family: "DM Sans", sans-serif;
	min-height: 100vh;
	max-width: 100vw;
}

body {
	background-color: #223939;
	/* padding: 1rem; */
}

table {
	height: fit-content;
	max-height: 90%;
	border-radius: 0.5rem;
	overflow: hidden;
	margin: auto;
	border-collapse: collapse;
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
}

td {
	width: 120px;
	padding: 0.5rem;
	text-align: center;
	height: 50px;
	/* border: 1px solid rgb(212, 209, 209); */
}

th {
	background-color: beige;
}

.bioquim {
	background-color: burlywood;
}

.time {
	background-color: beige;
	width: fit-content;
}

.gen-bas {
	background-color: aquamarine;
}

.pro-bas {
	background-color: coral;
}

.mfc {
	background-color: crimson;
}

.biocel {
	background-color: darkseagreen;
}

.org-soc {
	background-color: darkorange;
}

.shared {
	background-color: deeppink;
}

.exe-pro {
	background-color: greenyellow;
}

.bioest {
	background-color: indianred;
}

.embrio {
	background-color: chocolate;
}

.biofis {
	background-color: darksalmon;
}

/* .empty {
	color: white;
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	);
} */

.sport {
	background-color: rgb(200, 66, 66);
}
